.App {
  font-family: sans-serif;
  text-align: center;
}

.Die {
  font-size: 15rem;
  padding: 2rem;
  color: rgb(49, 29, 139);
}

.Roll {
  display: flex;
  justify-content: center;
}

.Rolldice button {
  width: 15em;
  padding: 1.5em;
  border: none;
  border-radius: 10px;
  color: white;
  background-color: black;
  margin-top: 3em;
}

.Rolldice button:hover {
  background-color: darkslateblue;
  cursor: pointer;
}

.Rolldice button:focus {
  outline: none;
}
